In [2]:
import os
import re
import pandas as pd

In [3]:
#linux
# url=r'/home/yoga/Desktop/prof.Vanessa/data'
#win10
url=r'C:\Users\Kelvin Kung\Desktop\prof.Vanessa-1\Data'

In [4]:
def extension(file):
    a=re.search(r'(\.[a-z]{3,})',file)
    if a!=None:
        return a[1]

In [5]:
def check_float(string):
    '''
    string=input string to check if it can be transformed to a float
    '''
    try:
        float(string)
        return True
    except:
        return False

In [6]:
def icharger_data(content):
    '''
    content=readlines content
    '''
    for a,b in enumerate(content):
        content[a]=b.split(';')
        for d,e in enumerate(content[a]):
            if (check_float(e)):
                content[a][d]=float(e)     
            else:
                content[a][d]=str(e)
    print (content)

In [7]:
def bts_data(content):
    ''''
    content=readlines content
    '''
    #transformar a lista
    for a,b in enumerate(content):
        content[a]=b.split()
    print(content)
    # return(content)

In [8]:
for a in os.listdir(url):
    b=extension(a)
    if b in ['.txt','.csv']:
        print(a)
        with open(os.path.join(url,a),'r',encoding = "ISO-8859-1") as file:
            c=file.readlines()
            for d,e in enumerate(c):
                if ';' in e:
                    c[d]=e.split(';')
                else:
                    c[d]=e.split()
        file.close()

20210722_12_Ch3-Li_BTS-5cycles-023246-ch2.txt
Ciclo 2 (carga) 1) Charging.csv
Ciclo 3 (Descarga) 1) Discharging.csv

In [91]:
z=pd.DataFrame(c,columns=c[0])
z

,Zeit [s],Input [V],Voltage accu [V],Current [A],Capacity [mAh],Power [W],Energy [Wh],Cell 1 [V],Cell 2 [V],Cell 3 [V],Cell 4 [V],Cell 5 [V],Cell 6 [V],Int. Temperatur [ï¿½C],Ext. Temperatur [ï¿½C]\n
0,Zeit [s],Input [V],Voltage accu [V],Current [A],Capacity [mAh],Power [W],Energy [Wh],Cell 1 [V],Cell 2 [V],Cell 3 [V],Cell 4 [V],Cell 5 [V],Cell 6 [V],Int. Temperatur [ï¿½C],Ext. Temperatur [ï¿½C]\n
1,0,11.873,7.129,0.520,0.000,3.707,0.002,0.000,0.000,0.000,0.000,0.000,0.000,32.800,0.000\n
2,2,11.846,7.164,0.600,0.000,4.298,0.004,0.000,0.000,0.000,0.000,0.000,0.000,32.800,0.000\n
3,4,11.853,7.182,0.590,0.000,4.237,0.007,0.000,0.000,0.000,0.000,0.000,0.000,32.800,0.000\n
4,6,11.846,7.189,0.590,1.000,4.242,0.009,0.000,0.000,0.000,0.000,0.000,0.000,33.200,0.000\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,29m 48,11.853,7.738,0.590,299.000,4.565,2.215,0.000,0.000,0.000,0.000,0.000,0.000,42.200,0.000\n
896,29m 50,11.866,7.743,0.600,300.000,4.646,2.218,0.000,0.000,0.000,0.000,0.000,0.000,42.200,0.000\n
897,29m 52,11.853,7.738,0.590,300.000,4.565,2.221,0.000,0.000,0.000,0.000,0.000,0.000,42.200,0.000\n
898,29m 54,11.866,7.740,0.600,300.000,4.644,2.223,0.000,0.000,0.000,0.000,0.000,0.000,42.200,0.000\n
899,29m 56,11.853,7.744,0.590,301.000,4.569,2.226,0.000,0.000,0.000,0.000,0.000,0.000,42.200,0.000\n