In [2]:
import os
import re
import pandas as pd

In [11]:
#linux
url=r'/home/yoga/Desktop/prof.Vanessa/Data'
#win10
# url=r'C:\Users\Kelvin Kung\Desktop\prof.Vanessa-1\Data'

In [12]:
def extension(file):
    a=re.search(r'(\.[a-z]{3,})',file)
    if a!=None:
        return a[1]

In [25]:
def to_float(data):
    '''
    data=list to be transformed to a float
    '''
    for a in data:
        for b,d in enumerate(a):
            try:
                a[b]=float(d)
            except:
                pass
    return data

In [150]:
def data_icharger(data):
    '''
    data=list of data for preprocessing
    '''
    a=pd.DataFrame(data[1:],columns=data[0])
    #delete all zero columns
    for b in a.keys():
        try:
            if a[b].mean()==0:
                a=a.drop(columns=b)
        except:
            pass
    #rewrite time column as format (HH:mm:ss)
    b='0:00:00'
    aux=a.loc[:,a.keys()[0]]
    for d,e in enumerate(aux):
        e=re.sub(r'm ',":",e)
        e=re.sub(r's ',"",e)
        e=re.sub(r' ',"",e)
        e=b[:-len(e)]+e
        aux[d]=e
    a[a.keys()[0]]=aux
    return a

In [148]:
def data_bts(data):
    '''
    data=list of data for processing

    returns a pandas dataframe
    '''
    cycle=0
    step_type='none'
    info=[]
    summary=[]
    header=['Cycle','Step type','time (HH:mm:ss)','voltage (mV)','current (mA)']
    for a in data:
        b=len(a)
        if b==21: #get cycle number
            cycle=a[0]
            continue
        elif b==12: #get step type
            step_type=a[1]
            continue
        elif b==11 and isinstance(a[0],float): #get data (time, voltage and current)
            time=a[1][:-4]
            volt=a[2]
            curr=a[3]
            info=[cycle,step_type,time,volt,curr]
            summary.append(info)
        else:
            continue
    print(pd.DataFrame(summary,columns=header))

In [151]:
for a in os.listdir(url):
    b=extension(a)
    if b in ['.txt','.csv']:
        print(a)
        with open(os.path.join(url,a),'r',encoding = "ISO-8859-1") as file:
            c=file.readlines()
            for d,e in enumerate(c):
                if ';' in e: #data icharger
                    c[d]=e.split(';')
                    z='icharger'
                else: #data BTS
                    c[d]=e.split()
                    z='bts'
            c=to_float(c)
        file.close()
        if z=='icharger':
            c=data_icharger(c)
        elif z=='bts':
            c=data_bts(c)

Ciclo 3 (Descarga) 1) Discharging.csv

/tmp/ipykernel_5580/458336.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[d]=e

    Zeit [s]  Input [V]  Voltage accu [V]  Current [A]  Capacity [mAh]  \
0    0:00:00     11.966             8.124         0.24             0.0
1    0:00:02     11.966             7.993         0.60             0.0
2    0:00:04     11.966             7.978         0.59             0.0
3    0:00:06     11.973             7.981         0.59             1.0
4    0:00:08     11.966             7.970         0.59             1.0
..       ...        ...               ...          ...             ...
895  0:29:50     11.913             7.013         0.59           300.0
896  0:29:52     11.940             7.013         0.59           301.0
897  0:29:54     11.973             7.020         0.60           301.0
898  0:29:56     11.913             7.013         0.59           301.0
899  0:29:58     11.913             7.020         0.59           302.0

     Power [W]  Energy [Wh]  Int. Temperatur [ï¿½C]  Ext. Temperatur [ï¿½C]\n
0        1.950        0.001                    40.4                       0.0
1        4.796        0.004                    40.4                       0.0
2        4.707        0.006                    40.4                       0.0
3        4.709        0.009                    40.4                       0.0
4        4.702        0.012                    40.4                       0.1
..         ...          ...                     ...                       ...
895      4.138        2.189                    42.2                       0.0
896      4.138        2.192                    42.2                       0.0
897      4.212        2.194                    42.2                       0.0
898      4.138        2.196                    42.2                       0.0
899      4.142        2.199                    42.2                       0.0

[900 rows x 9 columns]
20210722_12_Ch3-Li_BTS-5cycles-023246-ch2.txt
Ciclo 2 (carga) 1) Charging.csv

/tmp/ipykernel_5580/458336.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[d]=e

    Zeit [s]  Input [V]  Voltage accu [V]  Current [A]  Capacity [mAh]  \
0    0:00:00     11.873             7.129         0.52             0.0
1    0:00:02     11.846             7.164         0.60             0.0
2    0:00:04     11.853             7.182         0.59             0.0
3    0:00:06     11.846             7.189         0.59             1.0
4    0:00:08     11.846             7.206         0.60             1.0
..       ...        ...               ...          ...             ...
894  0:29:48     11.853             7.738         0.59           299.0
895  0:29:50     11.866             7.743         0.60           300.0
896  0:29:52     11.853             7.738         0.59           300.0
897  0:29:54     11.866             7.740         0.60           300.0
898  0:29:56     11.853             7.744         0.59           301.0

     Power [W]  Energy [Wh]  Int. Temperatur [ï¿½C]  Ext. Temperatur [ï¿½C]\n
0        3.707        0.002                    32.8                       0.0
1        4.298        0.004                    32.8                       0.0
2        4.237        0.007                    32.8                       0.0
3        4.242        0.009                    33.2                       0.0
4        4.324        0.012                    33.5                       0.0
..         ...          ...                     ...                       ...
894      4.565        2.215                    42.2                       0.0
895      4.646        2.218                    42.2                       0.0
896      4.565        2.221                    42.2                       0.0
897      4.644        2.223                    42.2                       0.0
898      4.569        2.226                    42.2                       0.0

[899 rows x 9 columns]

In [116]:
z=pd.DataFrame(c,columns=c[0])
y=z[z.keys()[0]]
t='0:00:00'
for w,x in enumerate(y):
    x=re.sub(r'm ',":",x)
    x=re.sub(r's ',"",x)
    x=re.sub(r' ',"",x)
    x=t[:-len(x)]+x
    y[w]=x
y
z[z.keys()[0]]=y
z

,Zeit [s],Input [V],Voltage accu [V],Current [A],Capacity [mAh],Power [W],Energy [Wh],Cell 1 [V],Cell 2 [V],Cell 3 [V],Cell 4 [V],Cell 5 [V],Cell 6 [V],Int. Temperatur [ï¿½C],Ext. Temperatur [ï¿½C]\n
0,Zeit[s],Input [V],Voltage accu [V],Current [A],Capacity [mAh],Power [W],Energy [Wh],Cell 1 [V],Cell 2 [V],Cell 3 [V],Cell 4 [V],Cell 5 [V],Cell 6 [V],Int. Temperatur [ï¿½C],Ext. Temperatur [ï¿½C]\n
1,0:00:00,11.873,7.129,0.52,0.0,3.707,0.002,0.0,0.0,0.0,0.0,0.0,0.0,32.8,0.0
2,0:00:02,11.846,7.164,0.6,0.0,4.298,0.004,0.0,0.0,0.0,0.0,0.0,0.0,32.8,0.0
3,0:00:04,11.853,7.182,0.59,0.0,4.237,0.007,0.0,0.0,0.0,0.0,0.0,0.0,32.8,0.0
4,0:00:06,11.846,7.189,0.59,1.0,4.242,0.009,0.0,0.0,0.0,0.0,0.0,0.0,33.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,0:29:48,11.853,7.738,0.59,299.0,4.565,2.215,0.0,0.0,0.0,0.0,0.0,0.0,42.2,0.0
896,0:29:50,11.866,7.743,0.6,300.0,4.646,2.218,0.0,0.0,0.0,0.0,0.0,0.0,42.2,0.0
897,0:29:52,11.853,7.738,0.59,300.0,4.565,2.221,0.0,0.0,0.0,0.0,0.0,0.0,42.2,0.0
898,0:29:54,11.866,7.74,0.6,300.0,4.644,2.223,0.0,0.0,0.0,0.0,0.0,0.0,42.2,0.0
899,0:29:56,11.853,7.744,0.59,301.0,4.569,2.226,0.0,0.0,0.0,0.0,0.0,0.0,42.2,0.0