In [1]:
import pandas as pd

In [3]:
a=pd.read_html('https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_por_PIB_(nominal)')

,0,1,2
0,> $20 trillones $10–20 trillones $5–10 trillon...,$750 billones – $1 trillón $500–750 billones $...,$50–100 billones $25–50 billones $5–25 billone...

In [23]:
a[3]

      Pos. País (o territorio) PIBnominal(millonesde USD)   Año
0      NaN               Mundo                 84 679 924  2020
1      1.0      Estados Unidos                 20 893 746  2020
2      NaN       Unión Europea                 15 292 101  2020
3      2.0               China                 14 722 730  2020
4      3.0               Japón                  5 057 758  2020
..     ...                 ...                        ...   ...
208  189.0              Palaos                        257  2020
209  190.0      Islas Marshall                        244  2020
210  191.0            Kiribati                        197  2020
211  192.0               Nauru                        114  2020
212  193.0              Tuvalu                         48  2020

[213 rows x 4 columns]