In [3]:
import subprocess
import sys

In [4]:
def install_package(package):
    """Installs the package using pip"""
    subprocess.check_call([sys.executable, '-m', 'pip','install',package])

In [5]:
def check_and_install_dependencies(packages):
    """Checks if packages are installed, installs them if not"""
    for package in packages:
        try:
            __import__(package.split('==')[0])
            print(f"{package} is alreday installed")
        except ImportError:
            print(f'{package} not found. Installing...')
            install_package(package)
            print(f'{package} has been installed.')

In [6]:
import ctypes
import serial
import time
import serial.tools.list_ports
from datetime import datetime
from collections import Counter

In [7]:
check_and_install_dependencies(['pyserial==3.5','serial==0.0.97','psycopg2-binary'])

pyserial==3.5 not found. Installing...
Requirement already satisfied: pyserial==3.5 in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.5)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

pyserial==3.5 has been installed.
serial==0.0.97 is alreday installed
psycopg2-binary not found. Installing...
Requirement already satisfied: psycopg2-binary in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.9.10)
psycopg2-binary has been installed.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [8]:
data_original=open('data.csv','r').readlines()

In [11]:
# Function to extract selected columns
def extract_columns(data, selected_columns,delimiter=';'):
    '''
    Extracts the intended data given the indeces in selected_columns
    Determines which is the current state type.
    '''
    columns = data.split(delimiter)  
    result = [str(int(columns[i])/1000) if i==7 else columns[i] for i in selected_columns]
    if result[3]=='1':
        estado='charging'
    elif result [3]=='2':
        estado='discharging'
    elif result [3]=='4':
        estado='rest'
    elif result[3]=='6':
        estado='finished'
    result[3]=estado
    return delimiter.join(result),estado #return the data as string

def save_file(estado,bateria,capacidad,ciclo,data,base_time,current_time):
    '''
    Function for saving the data file (.csv)
    By data analisis, each current state is compared to the previous four (4) states. 
    When the 5 states changes, then it's certain the battery power state has changed
    '''
    estados_pasados.append(estado)
    #determine the correct battery state (charging, resting, discharging) to save data to
    if len(estados_pasados)>4:
        if all(x==estado for x in estados_pasados):
            file_name=f"{bateria}{estado}_{capacidad}_{ciclo}.csv"
        else:
            most_common_elem, count = Counter(estados_pasados).most_common(1)[0]
            if most_common_elem=="charging" and count==3 and estado=='charging':
                ciclo+=1
            file_name=f"{bateria}{most_common_elem}_{capacidad}_{ciclo}.csv"
        if not(file_name in dict_data):
            dict_data[file_name]=[]
            base_time=current_time
            state_file = open(file_name, "w")
            state_file.write('date;system_hour;cycle_time;battery_state;voltage[V];current[mA];capacity[mAh]'+'\n')#setting column titles
            state_file.flush()
        dict_data[file_name].append(data)
        estados_pasados.pop(0)
        
        #writing data to the specific file
        try:
            state_file = open(file_name, "a")
        except:
            print("book is already open")
        finally:
            state_file.write(data+'\n')
            state_file.flush()
    return ciclo,base_time

In [12]:
log_to_file=True
estados_pasados=[]
dict_data={}
columns_to_extract=[0,1,2,4,7,8,17]#date, system_time,cycle_time, battery_state(charing/resting/discharging),voltage(V),current(mA),capacity(mAh)
bateria='1'
capacidad='1000'
ciclo=1
base_time=datetime.strptime("08:51:02","%H:%M:%S")

if log_to_file:
    log_file = open(f"data_original_{bateria}_{capacidad}_{ciclo}.csv", "w")
    log_file.write('date;system_hour;cicle_time;battery_state;voltage[V];current[mA];capacity[mAh]'+'\n')#setting column titles
    log_file.flush()
else:
    log_file = None
                
for a in data_original[:-1]:
    #adding cycle time (stopwatch like)
    aux=a.split(';')
    time1=datetime.strptime(aux[1],"%H:%M:%S")
    diff=str(abs(time1-base_time))
    aux.insert(2,diff)
    a=';'.join(aux)
    data,estado=extract_columns(a,columns_to_extract)
    if estados_pasados==['finished','finished','finished','finished']:
        print("finished cicles \nclosing program")
        print(a.split(';')[0])
        break
        
    if log_to_file:
        #original data
        if log_file:
            log_file.write(data + '\n')
            log_file.flush()
            ciclo,base_time=save_file(estado,bateria,capacidad,ciclo,data,base_time,time1)

finished cicles
closing program
2025-09-23

In [1]:
#read from CSV to DB

In [2]:
import os
import csv
from pathlib import Path
import re
import psycopg2
from psycopg2 import sql

txt_files = [os.path.join('/workspaces/prof.Vanessa/monitor_Icharger/test_data', f) for f in os.listdir('/workspaces/prof.Vanessa/monitor_Icharger/test_data') if f.endswith('.csv') and os.path.isfile(os.path.join('/workspaces/prof.Vanessa/monitor_Icharger/test_data', f))]

In [3]:
txt_files

['/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1charging_1_3.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1000_3.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1_3.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/2025-08-06_4_Resting.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/2025-08-06_7_Discharge.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1charging_1000_3.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1000_1.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1charging_1000_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1_2.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1_2.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1000_3.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1000_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1000_2.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1charging_1000_2.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/2025-08-06_1_Charge.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1charging_1_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1_3.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1finished_1000_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1_1.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1finished_1_4.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/data_original_1_1000_1.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1charging_1_2.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1000_2.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/2025-07-21_1_Charge.csv',
 '/workspaces/prof.Vanessa/monitor_Icharger/test_data/1rest_1000_4.csv']

In [4]:
def order_columns(header_row):
    a=header_row.lower().split(';')
    expected_columns=['date','time','voltage','current','capacity']
    file_column_order={} #key=battery parameter, value=column number
    for aux in expected_columns:
     	index=0
     	while index<len(a):
     		if aux in a[index]:
     			file_column_order[aux]=index
     			break
     		index+=1

    return file_column_order

In [35]:
#getting the correct row. Not always the first row has the column titles. This may be found in the first five (5) rows
def get_column_title(file):
    csv_path = Path(file)
    if not csv_path.exists():
        raise FileNotFoundError(f"{file} not found.")
    with csv_path.open('r', newline='', encoding='utf-8') as f:
        aux=False
        count=0
        while not(aux):
            line=f.readline()
            if line.count(';')>=3:
                aux=True
    #order the columns (date, time, voltage, current, capacity)
        order=order_columns(line.strip())
        headings=[a for a in order.keys()]
        if 'date' not in order:
            try:
                date= re.search(r'\d{4}-\d{2}-\d{2}', file)
                headings.insert(0,'date')
            except ValueError:
                pass
    #determine if the file is for charging, resting or discharging (from the file title)
        # Regex: look for “charg” or “discharg” or “rest”, case-insensitive
        pattern = re.compile(r"(?i)(?:dis)?charg|rest")
        aux=file.lower().split('/')
        # print(aux[-1])
        match = pattern.search(aux[-1])
        # print(match)
        if not match:
            cycle="unknown"
        kw = match.group(0).lower()
        if kw.startswith("dis"):
            cycle= "discharging"
        elif kw == "rest":
            cycle= "rest"
        else:
            cycle= "charging"
    
        # print (cycle)
    #extract the data in the desired order
        aux=0
        # print(headings)
        while aux<10: #extracting the remaining data
            line=f.readline().strip()
            data=line.split(';')
            db_data=[data[a] for a in order.values()]
            if 'date' not in order:
                db_data.insert(0,date.group(0))
            # print(db_data)
            insert_cycle_data(conn, cycle,db_data)
            aux+=1

In [36]:
conn = psycopg2.connect(host="localhost", port=5432, database="mydb",user="myuser", password="mypassword")
for a in txt_files[2:7]:
    print(a)
    b=get_column_title(a)
    print(f'file {a}, extracted column: {b}')
    print()

/workspaces/prof.Vanessa/monitor_Icharger/test_data/1discharging_1000_3.csv

UniqueViolation: duplicate key value violates unique constraint "discharging_pkey"
DETAIL:  Key (date, "time")=(2025-09-23, 00:05:02) already exists.

In [6]:
#Connecting postgreDB

In [7]:
# Install dependencies (if not already)
!pip install psycopg2-binary ipython-sql

# Load the SQL extension
%load_ext sql

# Connect to the database (replace with your credentials)
%sql postgresql://myuser:mypassword@localhost:5432/mydb

Requirement already satisfied: psycopg2-binary in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.9.10)
Requirement already satisfied: ipython-sql in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql) (9.4.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.12/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/codespace/.local/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [8]:
#creating tables (charging, rest, discharging, all data)

In [9]:
import psycopg2

def create_tables_and_triggers(conn):
    commands = [
        # Create base tables
        """
        CREATE TABLE IF NOT EXISTS charging (
            date DATE NOT NULL,
            time TIME NOT NULL,
            voltage DOUBLE PRECISION,
            current DOUBLE PRECISION,
            capacity DOUBLE PRECISION,
            PRIMARY KEY (date, time)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS rest (
            date DATE NOT NULL,
            time TIME NOT NULL,
            voltage DOUBLE PRECISION,
            current DOUBLE PRECISION,
            capacity DOUBLE PRECISION,
            PRIMARY KEY (date, time)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS discharging (
            date DATE NOT NULL,
            time TIME NOT NULL,
            voltage DOUBLE PRECISION,
            current DOUBLE PRECISION,
            capacity DOUBLE PRECISION,
            PRIMARY KEY (date, time)
        );
        """,
        # Create all_data
        """
        CREATE TABLE IF NOT EXISTS all_data (
            date DATE NOT NULL,
            time TIME NOT NULL,
            voltage DOUBLE PRECISION,
            current DOUBLE PRECISION,
            capacity DOUBLE PRECISION,
            mode VARCHAR(20) NOT NULL,
            PRIMARY KEY (date, time, mode)
        );
        """,
        # Trigger for charging → all_data
        """
        CREATE OR REPLACE FUNCTION trg_after_insert_charging()
        RETURNS TRIGGER AS $$
        BEGIN
            INSERT INTO all_data(date, time, voltage, current, capacity, mode)
            VALUES (NEW.date, NEW.time, NEW.voltage, NEW.current, NEW.capacity, 'charging')
            ON CONFLICT (date, time, mode) DO NOTHING;
            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;
        """,
        """
        DROP TRIGGER IF EXISTS after_insert_charging ON charging;
        CREATE TRIGGER after_insert_charging
        AFTER INSERT ON charging
        FOR EACH ROW
        EXECUTE FUNCTION trg_after_insert_charging();
        """,
        # Trigger for rest → all_data
        """
        CREATE OR REPLACE FUNCTION trg_after_insert_rest()
        RETURNS TRIGGER AS $$
        BEGIN
            INSERT INTO all_data(date, time, voltage, current, capacity, mode)
            VALUES (NEW.date, NEW.time, NEW.voltage, NEW.current, NEW.capacity, 'rest')
            ON CONFLICT (date, time, mode) DO NOTHING;
            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;
        """,
        """
        DROP TRIGGER IF EXISTS after_insert_rest ON rest;
        CREATE TRIGGER after_insert_rest
        AFTER INSERT ON rest
        FOR EACH ROW
        EXECUTE FUNCTION trg_after_insert_rest();
        """,
        # Trigger for discharging → all_data
        """
        CREATE OR REPLACE FUNCTION trg_after_insert_discharging()
        RETURNS TRIGGER AS $$
        BEGIN
            INSERT INTO all_data(date, time, voltage, current, capacity, mode)
            VALUES (NEW.date, NEW.time, NEW.voltage, NEW.current, NEW.capacity, 'discharging')
            ON CONFLICT (date, time, mode) DO NOTHING;
            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;
        """,
        """
        DROP TRIGGER IF EXISTS after_insert_discharging ON discharging;
        CREATE TRIGGER after_insert_discharging
        AFTER INSERT ON discharging
        FOR EACH ROW
        EXECUTE FUNCTION trg_after_insert_discharging();
        """
    ]

    cur = conn.cursor()
    for cmd in commands:
        cur.execute(cmd)
    conn.commit()
    cur.close()

def main():
    # change these parameters for your setup
    conn = psycopg2.connect(
        host="localhost",
        port=5432,
        database="mydb",
        user="myuser",
        password="mypassword"
    )
    try:
        create_tables_and_triggers(conn)
        print("Tables and triggers created.")
    except Exception as e:
        print("Error:", e)
    finally:
        conn.close()

if __name__ == "__main__":
    main()

Tables and triggers created.

In [10]:

def insert_cycle_data(conn, cycle: str, data: list):
    """
    Insert data into the appropriate table based on `cycle`.

    cycle: one of "charging", "rest", "discharging" (case-insensitive)
    data: list or tuple of values [date, time, voltage, current, capacity]
    """

    # Normalize the cycle string (lowercase)
    table_name = cycle.lower()

    # SQL insert template
    insert_template = sql.SQL(
        "INSERT INTO {tbl} (date, time, voltage, current, capacity) "
        "VALUES (%s, %s, %s, %s, %s)"
    ).format(
        tbl = sql.Identifier(table_name)
    )

    # Execute with the data values
    with conn.cursor() as cur:
        cur.execute(insert_template, data)
    conn.commit()

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%sql postgresql://myuser:mypassword@localhost:5432/mydb

In [26]:
result = %sql SELECT * FROM rest LIMIT 50
df = result.DataFrame()
df.head()

 * postgresql://myuser:***@localhost:5432/mydb
20 rows affected.

KeyError: 'DEFAULT'

In [34]:
import psycopg2
import pandas as pd

def fetch_table(conn_params, table_name, limit=100):
    conn = psycopg2.connect(**conn_params)
    try:
        query = f"SELECT * FROM {table_name} LIMIT {limit};"
        df = pd.read_sql(query, conn)
    finally:
        conn.close()
    return df

# Example usage
conn_params = {
    "host": "localhost",
    "port": 5432,
    "database": "mydb",
    "user": "myuser",
    "password": "mypassword"
}

print("charging table")
df_charging = fetch_table(conn_params, "charging", limit=20)
df_charging.head()

charging table

/tmp/ipykernel_990/2488997161.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

         date      time  voltage  current  capacity
0  2025-09-23  00:05:02    3.285     50.0       0.0
1  2025-09-23  00:00:02    3.284     50.0       0.0
2  2025-09-23  00:00:04    3.300     49.0       1.0
3  2025-09-23  00:00:06    3.310     49.0       1.0
4  2025-09-23  00:00:08    3.320     49.0       1.0

In [32]:
print("discharging table")
df_discharging = fetch_table(conn_params, "discharging", limit=20)
df_discharging.head()

discharging table

/tmp/ipykernel_990/3517879350.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

         date      time  voltage  current  capacity
0  2025-09-23  00:05:02    3.285     50.0       0.0
1  2025-09-23  00:00:02    3.284     50.0       0.0
2  2025-09-23  00:00:04    3.300     49.0       1.0
3  2025-09-23  00:00:06    3.310     49.0       1.0
4  2025-09-23  00:00:08    3.320     49.0       1.0

In [33]:
df_rest = fetch_table(conn_params, "rest", limit=20)
df_rest.head()

/tmp/ipykernel_990/3517879350.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

         date      time  voltage  current  capacity
0  2025-09-23  16:18:41     3.95      0.0      25.0
1  2025-09-23  16:18:43     3.95      0.0      25.0
2  2025-09-23  16:18:45     3.95      0.0      25.0
3  2025-09-23  16:18:47     3.95      0.0      25.0
4  2025-09-23  16:18:49     3.95      0.0      25.0